## 파이썬에서 JSON 데이터 다루기

In [1]:
d = {"name":"혼자 공부하는 데이터 분석"}
print(d['name'])

혼자 공부하는 데이터 분석

### 파이썬 객체를 JSON 문자열로 변환하기

In [3]:
import json

d_str = json.dumps(d, ensure_ascii=False)
print(d_str)

{"name": "혼자 공부하는 데이터 분석"}

In [4]:
print(type(d_str))

<class 'str'>

### JSON 문자열을 파이썬 객체로 변환하기

In [5]:
d2 = json.loads(d_str)
print(d2['name'])

혼자 공부하는 데이터 분석

In [8]:
print(type(d2))

<class 'dict'>

In [9]:
d3 = json.loads('{"name":"혼자 공부하는 데이터 분석", "author":"박해선", "year": 2022}')
print(d3['name'])
print(d3['author'])
print(d3['year'])

혼자 공부하는 데이터 분석
박해선
2022

In [10]:
d3 = json.loads('{"name":"혼자 공부하는 데이터 분석", "author":["박해선", "홍길동"], "year": 2022}')
print(d3['author'][1])

홍길동

In [11]:
d4_str = """
[
    {"name":"혼자 공부하는 데이터 분석", "author":"박해선", "year": 2022},
    {"name":"혼자 공부하는 머신러닝 + 딥러닝", "author":"박해선", "year": 2020}
]
"""

d4 = json.loads(d4_str)
print(d4[0]['name'])

혼자 공부하는 데이터 분석

### JSON 문자열을 데이터프레임으로 변환하기

In [12]:
import pandas as pd
pd.read_json(d4_str)

                 name author  year
0      혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝 + 딥러닝    박해선  2020

In [13]:
pd.DataFrame(d4)

                 name author  year
0      혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝 + 딥러닝    박해선  2020

## 파이썬에서 XML 데이터 다루기

### XML 문자열을 파이썬 객체로 변환하기

In [3]:
x_str = """
<book>
    <name>혼자 공부하는 데이터 분석</name>
    <author>박해선</author>
    <year>2022</year>
</book>
"""

In [4]:
import xml.etree.ElementTree as et
book = et.fromstring(x_str)

In [5]:
print(type(book))

<class 'xml.etree.ElementTree.Element'>

In [6]:
print(book.tag)

book

In [8]:
book_childs = list(book)
print(book_childs)

[<Element 'name' at 0x000001E5011B7DB0>, <Element 'author' at 0x000001E5011B7E00>, <Element 'year' at 0x000001E5011B7E50>]

In [9]:
name, author, year = book_childs
print(name.text)
print(author.text)
print(year.text)

혼자 공부하는 데이터 분석
박해선
2022

In [10]:
name = book.findtext('name')
author = book.findtext('author')
year = book.findtext('year')
print(name)
print(author)
print(year)

혼자 공부하는 데이터 분석
박해선
2022

In [11]:
x2_str = """
<books>
    <book>
        <name>혼자 공부하는 데이터 분석</name>
        <author>박해선</author>
        <year>2022</year>
    </book>
    <book>
        <name>혼자 공부하는 머신러닝+딥러닝</name>
        <author>박해선</author>
        <year>2020</year>
    </book>
</books>
"""

In [12]:
books = et.fromstring(x2_str)
print(books.tag)

books

In [15]:
for book in books.findall('book'):
    name = book.findtext('name')
    author = book.findtext('author')
    year = book.findtext('year')
    print(name)
    print(author)
    print(year)
    print()

혼자 공부하는 데이터 분석
박해선
2022

혼자 공부하는 머신러닝+딥러닝
박해선
2020